@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1f2632;
  font-family: "Manrope", sans-serif;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

@media (min-width: 800px) {
  #root {
    height: 100vh;
    justify-content: center;
  }
}